<button
  class="btn btn-link sr-only sr-only-focusable"
  title="Skip to main content"
  aria-label="Skip to main content"
  (click)="skipNavigation()"
>
  Skip to main content
</button>
<app-header></app-header>
<nav id="navigationMenu" class="navbar navbar-expand-lg navbar-light bg-light">
  <a
    class="navbar-brand"
    aria-label="Go to EdatTemplate home"
    title="Go to EdatTemplate home"
    routerLink="/"
  >
    <span class="d-none d-md-block">
      <img
        style="width: 30px;"
        src="assets/logo.png"
        title="EdatTemplate logo"
      />&nbsp;EDAT Template</span
    >
    <span class="d-sm-block d-md-none">
      <img
        style="width: 30px;"
        src="assets/logo.png"
        title="EdatTemplate logo"
      />&nbsp;EDAT Template</span
    >
  </a>
  <button 
    class="navbar-toggler" 
    type="button" 
    aria-controls="navbarContent" 
    [attr.aria-expanded]="!collapsed" 
    aria-label="Toggle navigation" 
    (click)="collapsed = !collapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li 
        *ngIf="isAdmin" 
        class="nav-item" 
        ngbDropdown>
          <a 
            class="nav-link" 
            style="cursor: pointer" 
            ngbDropdownToggle 
            id="adminDropdown" 
            role="button">
            <span class="fas fa-cogs"></span>&nbsp;Administration
          </a>
          <div 
            ngbDropdownMenu 
            aria-labelledby="adminDropdown" 
            class="dropdown-menu dropdown-menu-right">
            <!-- ** SAMPLE START -->
            <a
              class="dropdown-item"
              aria-label="Sample administration"
              title="Sample administration"
              (click)="$event.preventDefault()"
              routerLink="/administration/sample"
              >Samples</a
            >
            <!-- ** SAMPLE END -->
          </div>
        </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a
          class="nav-link"
          href="/security/adlogin"
          aria-label="Network Login"
          title="Network Login"
        >
          <span class="fas fa-sign-in-alt"></span>&nbsp;Network Login
        </a>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated && allowB2C">
        <a
          class="nav-link"
          href="/security/b2clogin"
          aria-label="Consumer Login"
          title="Consumer Login"
        >
          <span class="fas fa-sign-in-alt"></span>&nbsp;Consumer Login
        </a>
      </li>
      <li
        class="nav-item"
        *ngIf="isAuthenticated && allowB2C && isB2CUser && isB2CAuthenticated"
      >
        <a
          class="nav-link"
          href="/security/b2cprofile"
          aria-label="User Profile"
          title="User Profile"
        >
          <span class="fas fa-user-edit"></span>&nbsp;User Profile
        </a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a
          class="nav-link"
          href="/security/logout"
          aria-label="Logout"
          title="Logout"
        >
          <span class="fas fa-sign-out-alt"></span>&nbsp;Logout {{ userName }}
          {{ userId == '' ? '' : '(' + userId + ')' }}
        </a>
      </li>
    </ul>
    <form
      class="form-inline my-2 my-lg-0"
      *ngIf="isAuthenticated && canImpersonate"
    >
      <select
        id="roleImpersonation"
        class="form-control"
        [ngModel]="role"
        (ngModelChange)="changeRole($event)"
        aria-label="Impersonation"
        title="Impersonation"
        [ngModelOptions]="{ standalone: true }"
      >
        <option value="Admin">Admin</option>
        <option value="B2CUser">B2CUser</option>
        <option value="NotAuthorized">No Role</option>
      </select>
    </form>
  </div>
</nav>
<a [routerLink]="" #skipnav></a>
