
<!-- Contract Information -->
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="contractNumber">Contract #</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="contractNumber"
              name="contractNumber"
              [(ngModel)]="contract.contractNumber"
              placeholder="Enter the Contract #:"
              aria-placeholder="Enter the Contract #:"
            />
          </div>
    </div>

    <div class="col">
        <div class="form-group">
            <label for="fmNumber">FM #</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="fmNumber"
              name="fmNumber"
              [(ngModel)]="contract.fmNumber"
              placeholder="Enter the FM Number:"
              aria-placeholder="Enter the FM Number:"
            />
          </div>
    </div>

    <div class="col">
        <div class="form-group">
            <label for="vendorFEID">Vendor FEID</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="vendorFEID"
              name="vendorFEID"
              [(ngModel)]="contract.vendorId"
              placeholder="Enter the Vendor FEID:"
              aria-placeholder="Enter the Vendor FEID:"
            />
          </div>

    </div>

    <div class="col">
        <div class="form-group">
            <label for="vendorName">Vendor Name</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="vendorName"
              name="vendorName"

              placeholder="Enter the Vendor Name:"
              aria-placeholder="Enter the Vendor Name:"
            />
          </div>
    </div>

</div>
<!-- Date Information-->
<div class="row">
    <div class="col">

      <div class="form-group">
        <label class="form-label" for="startDate"
          >Start Date</label>
        <app-date-field
          [(moment)]="startDate"
          id="startDate"
          title="Enter Start Date:"
        ></app-date-field>
      </div>

    </div>

    <div class="col">

      <div class="form-group">
        <label class="form-label" for="endDate">End Date</label>
        <app-date-field
          [(moment)]="endDate"
          id="endDate"
          title="Enter End Date:"></app-date-field>
      </div>



    </div>

    <div class="col">
        <div class="form-group">
            <label for="extDate">Extension Date</label>
            <app-date-field
            [(moment)]="extDate"
            id="extDate"
            title="Enter Extension Date:"></app-date-field>  
          </div>

    </div>

    <div class="col">

    </div>

</div>

<!-- Financial Information -->
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="originalAmt">Original Contract Amt ($)</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="originalAmt"
              name="originalAmt"
              [(ngModel)]="contract.originalContractAmt"
              placeholder="Enter the Original Contract Amt ($):"
              aria-placeholder="Enter the Original Contract Amt ($):"
            />
          </div>
    </div>

    <div class="col">
        <div class="form-group">
            <label for="currentAmt">Current Contract Amt</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="currentAmt"
              name="currentAmt"
              [(ngModel)]="contract.currentContractAmt"
              placeholder="Enter the Current Contract Amt ($):"
              aria-placeholder="Enter the Current Contract Amt ($):"
            />
          </div>
    </div>

    <div class="col">
        <div class="form-group">
            <label for="contractBalance">Contract Balance</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="contractBalance"
              name="contractBalance"
              [(ngModel)]="contract.contractBalance"
              placeholder="Enter the Contract Balance ($):"
              aria-placeholder="Enter the Contract Balance ($):"
            />
          </div>
    </div>

    <div class="col">
        <div class="form-group">
            <label for="decommitBalance">Decommitted Balance</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="decommitBalance"
              name="decommitBalance"
              [(ngModel)]="contract.decommitBalance"
              placeholder="Enter the Decommitted Balance:"
              aria-placeholder="Enter the Decommitted Balance:"
            />
          </div>
    </div>

</div>

<!-- Comments -->
<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="commentBox">Comments</label>
        </div>

        <textarea
            id="commentBox"
            name="commentBox"
            rows="6"
            cols="240"
            [(ngModel)]="contract.comment"
            placeholder="Enter Comments:"
            aria-placeholder="Enter Comments:">
        </textarea>
    </div>
</div>

<div class="row">
  <div class="col">
    <button class="btn btn-sm btn-primary" (click)="saveContract()">Save</button>
  </div>
</div>