<div class="progress" *ngIf="isLoadingData">
  <div
    class="progress-bar progress-bar-striped progress-bar-animated bg-secondary"
    role="progressbar"
    aria-valuenow="100"
    aria-valuemin="0"
    aria-valuemax="100"
    style="width: 100%"
  ></div>
</div>
<div *ngIf="!isLoadingData">
  <div class="custom-file">
    <input
      #fileUpload
      type="file"
      class="custom-file-input"
      [disabled]="
        filesToUpload != undefined &&
        filesToUpload != null &&
        filesToUpload.length > 0
      "
      (change)="fileChangeEvent($event)"
      placeholder="Upload file..."
      [accept]="accept"
    />
    <label class="custom-file-label" for="customFile">Choose a file</label>
  </div>
  <br />
  <div *ngIf="filesToUpload?.length > 0">
    <br />
    <p class="small">
      <strong>File selected</strong>
    </p>
  </div>
  <div>
    <ul class="list-group small">
      <li
        class="list-group-item"
        *ngFor="let fileName of selectedFileNames; let i = index"
      >
        {{ fileName }}
      </li>
    </ul>
  </div>
  <div *ngIf="hasErrors" class="text-danger small">
    <br />
    <strong>ERROR:</strong>&nbsp;{{ errorMessage }}
  </div>
  <br />
  <div class="text-right">
    <button
      class="btn btn-secondary btn-sm"
      type="button"
      (click)="cancelUpload()"
      [disabled]="filesToUpload?.length == 0"
    >
      <span class="fas fa-ban"></span>&nbsp;Cancel</button
    >&nbsp;
    <button
      class="btn btn-primary btn-sm"
      type="button"
      (click)="upload()"
      [disabled]="filesToUpload?.length == 0"
    >
      <span class="fas fa-upload"></span>&nbsp;Upload
      {{
        existingEdmsDocumentId == null || existingEdmsDocumentId == 0
          ? 'New Document'
          : 'New Version'
      }}
    </button>
  </div>
</div>
