/* FDOT Footer Styles */
.footer-buffer {
  height: 110px;
}
.fdot-footer {
  margin: 0 auto;
  background: #32557c;
  width: 100%;
  zoom: 0;
  background-color: #32557c;
  border-top: 1px #cfcfcf solid;
  z-index: 999 !important;
}
.fdot-footer-sm {
  height: 35px;
}
.fdot-footer-lg {
  height: 110px;
}
.fdot-navbottom {
  height: 30px;
  background-color: white;
  overflow: hidden;
  text-align: center;
}
.fdot-navbottom li {
  text-align: center;
  list-style: none;
  display: inline;
}
.fdot-navbottom li a {
  padding: 6px 10px;
  color: #32557c;
  text-decoration: none;
  display: inline-block;
}
.fdot-SocialMediaIcons {
  width: 50%;
  float: left;
  padding: 0px 0px 5px 20px;
}
.fdot-SocialMediaIcons a {
  padding-right: 10px;
}
.fdot-copyright {
  padding-top: 5px;
  font-size: small;
  color: #d2d7e1;
}
.fdot-footertag {
  width: 50%;
  float: right;
  padding: 0px 20px 0px 10px;
  color: #d2d7e1;
}
.fdot-footertag p {
  color: #d2d7e1;
  text-align: right;
}
.fdot-footertag h5 {
  font-size: small;
  color: #d2d7e1;
  text-align: right;
  font-style: italic;
}
/* End FDOT Footer Styles */
