<h1>LOA</h1>
<div class="row">
    <div class="col">
        <!-- <div class="form-group">
            <label for="contractNumber">Contract #</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="contractNumber"
              name="contractNumber"
              [(ngModel)]="contract.contractNumber"
              placeholder="Enter the Contract #:"
              aria-placeholder="Enter the Contract #:"
            />
          </div> -->
    </div>
</div>

