<h1>Supplemental Agreement</h1>
<!-- <div class="row">
  <div class="col">
<label for="name">Name (4 to 8 characters):</label>

<input type="text" id="name" name="name" required
       minlength="4" maxlength="8" size="10">
</div></div> -->
  <div class="row">
    <div class="col">
        <!--<div class="form-group">-->
            <label for="contractNumber">Contract #</label><br/>
            <input
              type="text"
              id="contractNumber"
              name="contractNumber"
              required
              minlength="9" 
              maxlength="15" 
              size="20"
              class="form-control form-control-sm"
              [(ngModel)]="supplement.contractId"
              placeholder="Contract #:"
              aria-placeholder="Contract #:"
            />
          </div>


   <div class="col">
        <div class="form-group">
            <label for="supplementalNumber">Supplemental #</label>
            <input
              type="text"
              class="form-control form-control-sm"
              id="supplementalNumber"
              name="supplementalNumber"
              [(ngModel)]="supplement.supplementNumber"
              placeholder="Enter Supplemental #:"
              aria-placeholder="Enter Supplemental #:"
            />
          </div>
    </div>

    <div class="col">

        <div class="form-group">
          <label class="form-label" for="startDate"
            >Start Date</label>
          <app-date-field
            [(moment)]="startDate"
            id="startDate"
            title="Enter Start Date:"
          ></app-date-field>
        </div>


    </div>

    <div class="col">

          <div class="form-group">
            <label class="form-label" for="endDate">End Date</label>
            <app-date-field
              [(moment)]="endDate"
              id="endDate"
              title="Enter End Date:"></app-date-field>
          </div>

    </div>

    <div class="col">

        <div class="form-group">
          <label for="supplementAmount">Supplemental Amount ($)</label>
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="number"
              class="form-control"
              id="supplementAmount"
              name="supplementAmount"
              [(ngModel)]="supplement.supplementAmount"
              placeholder="Supplemental Amount ($)"
              title="Enter the Supplemental Amount:"
              aria-placeholder="Enter the Supplemental Amount:"
            />
          </div>
        </div>

      </div> 
</div>
<div class="row">
  <div class="col">
    <button class="btn btn-sm btn-primary" (click)="saveSupplemental()">Save</button>

  </div>
</div>