<div class="row">
  <div class="col-lg-2 col-md-4 col-sm-12">
    <div class="form-group">
      <label for="documentTitle">Document Title</label>
      <input
        type="text"
        class="form-control form-control-sm"
        id="documentTitle"
        name="documentTitle"
        [(ngModel)]="documentTitle"
        placeholder="Enter the document title"
        aria-placeholder="Enter the document title"
      />
    </div>
    <button
      type="button"
      class="btn btn-sm btn-primary"
      aria-label="Create PDF"
      title="Create PDF"
      (click)="createPdf()"
    >
      <span class="fas fa-file-pdf"></span>&nbsp;Create PDF
    </button>
  </div>
</div>
<br />
<div class="row">
  <div class="col">
    <div style="width: 520pt;" #pdfDoc>
      <div style="border: dashed 1px rgb(226, 226, 226)" #pdfDocPage1>
        <h3 style="margin-bottom: 25px;">{{ documentTitle }}</h3>
        <div style="margin-bottom: 25px;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Gravida
          cum sociis natoque penatibus et. In pellentesque massa placerat duis.
          Turpis tincidunt id aliquet risus feugiat in ante metus dictum. Mi
          bibendum neque egestas congue quisque egestas diam in. Et odio
          pellentesque diam volutpat commodo sed. Et odio pellentesque diam
          volutpat commodo sed. Iaculis urna id volutpat lacus laoreet non
          curabitur gravida. Non diam phasellus vestibulum lorem sed risus
          ultricies tristique. Mauris rhoncus aenean vel elit scelerisque mauris
          pellentesque. Ipsum consequat nisl vel pretium lectus quam.
        </div>
        <div style="margin-bottom: 25px;">
          Luctus venenatis lectus magna fringilla. Pharetra convallis posuere
          morbi leo urna molestie. Netus et malesuada fames ac turpis egestas
          maecenas. Cursus vitae congue mauris rhoncus aenean vel. Congue nisi
          vitae suscipit tellus mauris a diam maecenas sed. Blandit massa enim
          nec dui nunc. Nunc vel risus commodo viverra maecenas accumsan lacus.
          A condimentum vitae sapien pellentesque. Accumsan sit amet nulla
          facilisi morbi tempus iaculis urna. Odio morbi quis commodo odio
          aenean sed adipiscing diam donec. Eu non diam phasellus vestibulum
          lorem sed risus ultricies tristique. Consequat semper viverra nam
          libero.
        </div>
        <div>
          Egestas erat imperdiet sed euismod nisi porta lorem mollis. Nunc sed
          blandit libero volutpat sed. Volutpat odio facilisis mauris sit amet
          massa vitae tortor condimentum. Mattis ullamcorper velit sed
          ullamcorper morbi tincidunt. Tortor dignissim convallis aenean et
          tortor. Mattis pellentesque id nibh tortor id aliquet. Tellus in metus
          vulputate eu scelerisque felis imperdiet. Arcu ac tortor dignissim
          convallis aenean et. Quisque non tellus orci ac auctor. Velit egestas
          dui id ornare arcu odio. Convallis tellus id interdum velit laoreet.
          Bibendum est ultricies integer quis auctor elit sed. At erat
          pellentesque adipiscing commodo elit at imperdiet dui accumsan. In
          iaculis nunc sed augue lacus viverra vitae congue eu. Tristique
          senectus et netus et malesuada fames ac turpis egestas. Tempus
          imperdiet nulla malesuada pellentesque elit eget gravida cum. Maecenas
          accumsan lacus vel facilisis volutpat. Elit ullamcorper dignissim cras
          tincidunt lobortis. Arcu risus quis varius quam quisque id diam. Magna
          etiam tempor orci eu lobortis elementum nibh tellus molestie.
        </div>
      </div>
      <div style="border: dashed 1px rgb(226, 226, 226);" #pdfDocPage2>
        <div style="margin-bottom: 25px;">
          Morbi leo urna molestie at. Ullamcorper velit sed ullamcorper morbi
          tincidunt ornare. Mauris vitae ultricies leo integer malesuada nunc
          vel risus. Sit amet facilisis magna etiam tempor. Nisl pretium fusce
          id velit ut tortor pretium. Accumsan sit amet nulla facilisi. Mi
          tempus imperdiet nulla malesuada pellentesque. Sit amet venenatis urna
          cursus eget nunc scelerisque viverra mauris. Tristique senectus et
          netus et malesuada fames ac turpis. Dictum varius duis at consectetur
          lorem donec massa. Gravida cum sociis natoque penatibus et magnis.
          Tellus elementum sagittis vitae et leo duis ut diam quam. Cras sed
          felis eget velit aliquet sagittis. Viverra orci sagittis eu volutpat
          odio facilisis. Velit aliquet sagittis id consectetur purus. Etiam
          erat velit scelerisque in dictum non. Enim lobortis scelerisque
          fermentum dui faucibus in. Neque volutpat ac tincidunt vitae semper
          quis lectus nulla. Vestibulum morbi blandit cursus risus at ultrices
          mi. Sed id semper risus in hendrerit.
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Column 1</th>
              <th>Column 2</th>
              <th>Column 3</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sed id semper</td>
              <td>eget nunc scelerisque viverra</td>
              <td>malesuada fames</td>
            </tr>
            <tr>
              <td>Mauris vitae ultricies</td>
              <td>Sit amet venenati</td>
              <td>Ullamcorper velit sed</td>
            </tr>
            <tr>
              <td>elit eget gravida</td>
              <td>ullamcorper morbi tincidunt</td>
              <td>Volutpat odio facilisis</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div style="border: dashed 1px rgb(226, 226, 226);" #pdfDocPage3>
          <img src="../../../../assets/template_architecture.png" />
      </div>
    </div>
  </div>
</div>
