<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="sampleDocumentType">Document Type</label>
      <select
        id="sampleDocumentType"
        class="form-control form-control-sm"
        [(ngModel)]="selectedDocumentType"
        aria-label="Status"
        title="Status"
      >
        <option
          [value]="documentType"
          *ngFor="let documentType of documentTypes"
          >{{ documentType.description }}</option
        >
      </select>
    </div>
  </div>
</div>
