<div class="row">
  <div class="col d-sm-none">
    <button
      type="button"
      class="btn btn-primary"
      (click)="setTempSample()"
      data-toggle="modal"
      data-target="#sampleModal"
      aria-label="New sample"
      title="New sample"
    >
      <span class="fas fa-plus"></span>&nbsp;New Sample
    </button>
  </div>
  <div class="col text-right d-none d-md-block">
    <button
      type="button"
      class="btn btn-primary"
      (click)="setTempSample()"
      data-toggle="modal"
      data-target="#sampleModal"
      aria-label="New sample"
      title="New sample"
    >
      <span class="fas fa-plus"></span>&nbsp;New Sample
    </button>
  </div>
</div>
<br />
<div class="row">
  <div class="col">
    <div *ngIf="data && data.sourceData && data.sourceData.length > 0">
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col small">
              Page {{ data.currentPage }} of {{ data.totalPages }}
            </div>
            <div class="col">
              <div class="text-right">
                <button
                  class="btn btn-secondary btn-sm"
                  title="previous page"
                  [disabled]="data.currentPage == 1"
                  (click)="page('previous')"
                >
                  <span class="fas fa-angle-left"></span></button
                >&nbsp;&nbsp;
                <button
                  class="btn btn-secondary btn-sm"
                  title="next page"
                  [disabled]="data.currentPage == data.totalPages"
                  (click)="page('next')"
                >
                  <span class="fas fa-angle-right"></span></button
                >&nbsp;&nbsp;
                <button
                  class="btn btn-primary btn-sm"
                  title="export to excel"
                  (click)="export()"
                >
                  <span class="fas fa-file-excel"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col table-responsive">
          <table
            class="table table-hover table-sm"
            aria-label="Samples"
            title="Samples"
            summary="Edit or remove samples"
          >
            <thead class="thead-dark">
              <tr>
                <th style="width: 50px;"></th>
                <th style="width: 50px;"></th>
                <th style="width: 100px; text-align: center;">
                  <app-sort-button
                    [sortData]="data"
                    field="isActive"
                    label="Active"
                    (sort)="sort($event)"
                  ></app-sort-button>
                </th>
                <th style="text-align: center;">
                  <app-sort-button
                    [sortData]="data"
                    field="name"
                    label="Name"
                    (sort)="sort($event)"
                  ></app-sort-button>
                </th>
                <th style="text-align: center;">
                  <app-sort-button
                    [sortData]="data"
                    field="status"
                    label="Status"
                    (sort)="sort($event)"
                  ></app-sort-button>
                </th>
                <th style="text-align: center;">
                  <app-sort-button
                    [sortData]="data"
                    field="birthDate"
                    label="Birth Date"
                    (sort)="sort($event)"
                  ></app-sort-button>
                </th>
                <th style="text-align: center;">
                  <app-sort-button
                    [sortData]="data"
                    field="cost"
                    label="Cost"
                    (sort)="sort($event)"
                  ></app-sort-button>
                </th>
                <th style="text-align: center;">
                  <app-sort-button
                    [sortData]="data"
                    field="assignedStaffName"
                    label="Assigned To"
                    (sort)="sort($event)"
                  ></app-sort-button>
                </th>
                <th style="text-align: center;">
                  <app-sort-button
                    [sortData]="data"
                    field="lastUpdatedBy"
                    label="Last Updated By"
                    (sort)="sort($event)"
                  ></app-sort-button>
                </th>
                <th style="text-align: center;">
                  <app-sort-button
                    [sortData]="data"
                    field="lastUpdated"
                    label="Last Updated On"
                    (sort)="sort($event)"
                  ></app-sort-button>
                </th>
              </tr>
              <tr>
                <th></th>
                <th></th>
                <th>
                  <app-filter-field
                    field="isActive"
                    label="Active"
                    (filter)="filter($event)"
                    type="select"
                    [selectValues]="[
                      { label: 'Yes', value: 'true' },
                      { label: 'No', value: 'false' }
                    ]"
                  ></app-filter-field>
                </th>
                <th>
                  <app-filter-field
                    field="name"
                    label="Name"
                    (filter)="filter($event)"
                    type="text"
                  ></app-filter-field>
                </th>
                <th>
                  <app-filter-field
                    field="status"
                    label="Status"
                    (filter)="filter($event)"
                    type="select"
                    [selectValues]="[
                      { label: 'New', value: statusCode.New },
                      { label: 'Pending', value: statusCode.Pending },
                      { label: 'Approved', value: statusCode.Approved }
                    ]"
                  ></app-filter-field>
                </th>
                <th>
                  <app-filter-field
                    field="birthDate"
                    label="Birth Date"
                    (filter)="filter($event)"
                    type="text"
                  ></app-filter-field>
                </th>
                <th>
                  <app-filter-field
                    field="cost"
                    label="Cost"
                    (filter)="filter($event)"
                    type="text"
                  ></app-filter-field>
                </th>
                <th>
                  <app-filter-field
                    field="assignedStaffName"
                    label="Assigned To"
                    (filter)="filter($event)"
                    type="text"
                  ></app-filter-field>
                </th>
                <th>
                  <app-filter-field
                    field="lastUpdatedBy"
                    label="Last Updated By"
                    (filter)="filter($event)"
                    type="text"
                  ></app-filter-field>
                </th>
                <th>
                  <app-filter-field
                    field="lastUpdated"
                    label="Last Updated On"
                    (filter)="filter($event)"
                    type="text"
                  ></app-filter-field>
                </th>
              </tr>
            </thead>
            <tbody *ngFor="let sample of data.pageData">
              <tr>
                <td>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-primary"
                    (click)="setTempSample(sample)"
                    aria-label="Edit sample"
                    title="Edit sample"
                  >
                    <span class="fas fa-edit"></span>
                  </button>
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-sm btn-outline-danger"
                    (click)="removeSample(deleteModal, sample)"
                    aria-label="Delete sample"
                    title="Delete sample"
                  >
                    <span class="fas fa-trash-alt"></span>
                  </button>
                </td>
                <td style="text-align: center; vertical-align: middle;">
                  <span class="fas fa-check" *ngIf="sample.isActive"></span>
                </td>
                <td style="white-space: nowrap; text-align: center;">
                  {{ sample.name }}
                </td>
                <td style="white-space: nowrap; text-align: center;">
                  {{
                    sample.status == statusCode.New
                      ? 'New'
                      : sample.status == statusCode.Pending
                      ? 'Pending'
                      : 'Approved'
                  }}
                </td>
                <td style="white-space: nowrap; text-align: center;">
                  {{ sample.birthDate | date: 'yyyy-MM-dd' }} ({{
                    calculateAge(sample)
                  }})
                </td>
                <td style="white-space: nowrap; text-align: center;">
                  {{ sample.cost | currency }}
                </td>
                <td style="white-space: nowrap; text-align: center;">
                  {{ sample.assignedStaffName }}
                </td>
                <td style="white-space: nowrap; text-align: center;">
                  {{ sample.lastUpdatedBy }}
                </td>
                <td style="white-space: nowrap; text-align: center;">
                  {{ sample.lastUpdated | date: 'yyyy-MM-dd' }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="!data || !data.sourceData || data.sourceData.length === 0">
      There are no samples to display
    </div>
  </div>
</div>
<ng-template #deleteModal let-modal>
  <div class="modal-header text-white bg-danger">
    <h4 class="modal-title" id="deleteSampleModalLabel">
      Delete {{ tempSample.name }} Sample?
    </h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Cancel delete"
      title="Cancel delete"
      (click)="modal.dismiss();"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-danger">
      <strong>WARNING:</strong>&nbsp;This action is permanent. Are you sure
      you want to delete the {{ tempSample.name }} sample?
    </p>
  </div>
  <div class="modal-footer">
    <div class="row">
      <div class="col">
        <input
          ngbAutofocus
          type="text"
          class="form-control"
          [(ngModel)]="checkUserId"
          placeholder="Enter your User ID"
          aria-placeholder="Enter your User ID"
          aria-label="Enter your user ID to enable delete option"
          title="Enter your user ID to enable delete option"
        />
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-secondary"
          data-dismiss="modal"
          (click)="modal.dismiss();"
          aria-label="Cancel delete"
          title="Cancel delete"
        >
          <span class="fas fa-ban"></span>&nbsp;Cancel
        </button>
        &nbsp;&nbsp;
        <button
          type="button"
          class="btn btn-danger"
          (click)="modal.close();"
          aria-label="Delete sample"
          title="Delete sample"
          [disabled]="
            checkUserId != undefined &&
            userId != undefined &&
            checkUserId != null &&
            userId != null &&
            checkUserId.trim().toUpperCase() != userId.trim().toUpperCase()
          "
        >
          <span class="fas fa-trash-alt"></span>&nbsp;Delete
        </button>
      </div>
    </div>
  </div>
</ng-template>
