<div class="container-fluid">
  <div class="card">
    <div class="card-header">Sample Data Component</div>
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">
        This component demonstrates the use of a store service to manage
        client-side application state. The data grid supports sorting,
        filtering, and paging, and is composed of smaller components that
        implement these features. Adding, updating, and deleting data is
        implemented via modal dialogs, and all validations are performed
        server-side. This component also demonstrates exporting the filtered
        data to Excel, and using moment.js to calculate the age based on the
        birthdate client-side.
      </h6>
      <hr />
      <app-sample-data></app-sample-data>
    </div>
  </div>
  <br />
  <div class="card">
    <div class="card-header">Sample Email Component</div>
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">
        This component demonstrates the use of the email service to send an
        email to a selected user using the SendGrid API. The user is selected
        with the Staff Picker component that uses the Azure API Management FDOT
        core services server-side.
      </h6>
      <hr />
      <app-sample-email></app-sample-email>
    </div>
  </div>
  <br />
  <div class="card">
    <div class="card-header">Sample Documents Component</div>
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted">
        This component demonstrates the use of the BLOB storage service to store
        documents and files. The BLOB storage service uses Azure BLOB Storage
        server-side.
      </h6>
      <hr />
      <app-sample-documents></app-sample-documents>
    </div>
  </div>
</div>
