<div class="row">
  <div class="col">
    <div style="width: 300px; height: 150px;">
      <app-signature-field penRGB="rgb(66, 133, 244)"></app-signature-field>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <button class="btn btn-sm btn-light" (click)="clear()">
      <span class="fas fa-eraser"></span>&nbsp;Clear
    </button>
    &nbsp;&nbsp;
    <button class="btn btn-sm btn-primary" (click)="save()">
      <span class="fas fa-pen"></span>&nbsp;Save
    </button>
  </div>
</div>
