<div class="modal-header bg-light">
  <h4 class="modal-title" id="sampleModalLabel">
    {{
      tempSample.id == null || tempSample.id == 0 ? 'New' : 'Edit'
    }}
    Sample
  </h4>
  <button
    type="button"
    class="close"
    data-dismiss="modal"
    aria-label="Cancel"
    title="Cancel"
    (click)="activeModal.close()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col">
      <div class="form-group form-check">
        <input
          ngbAutofocus
          type="checkbox"
          class="form-check-input"
          id="sampleActive"
          [(ngModel)]="tempSample.isActive"
          aria-label="Check to make sample active"
          title="Check to make sample active"
        />
        <label class="form-check-label" for="sampleActive">Active</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-field-validation-message
        property="isActive"
        [validations]="validations"
      ></app-field-validation-message>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="sampleName">Sample Name</label>
        <input
          type="text"
          class="form-control form-control-sm"
          id="editSampleName"
          name="sampleName"
          [(ngModel)]="tempSample.name"
          placeholder="Enter the sample name"
          aria-placeholder="Enter the sample name"
        />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="sampleStatus">Status</label>
        <select
          id="sampleStatus"
          class="form-control form-control-sm"
          [(ngModel)]="tempSample.status"
          aria-label="Status"
          title="Status"
        >
          <option value="{{ statusCode.New }}">New</option>
          <option value="{{ statusCode.Pending }}">Pending</option>
          <option value="{{ statusCode.Approved }}">Approved</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-field-validation-message
        property="status"
        [validations]="validations"
      ></app-field-validation-message>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class="form-label" for="sampleBirthDate">Birth Date</label>
        <div class="input-group input-group-sm">
          <input
            id="sampleBirthDate"
            class="form-control"
            placement="top-left"
            [firstDayOfWeek]="7"
            placeholder="YYYY-MM-DD"
            name="dp"
            [(ngModel)]="birthDate"
            ngbDatepicker
            #d="ngbDatepicker"
            style="max-width: 150px;"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              (click)="d.toggle()"
              type="button"
            >
              <span class="fas fa-calendar"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class="form-label" for="sampleBirthDateAlt"
          >Birth Date (Alternate Date Field)</label
        >
        <app-date-field
          [(moment)]="birthDate"
          id="sampleBirthDateAlt"
          title="Alternate Date Field"
        ></app-date-field>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="sampleCost">Cost</label>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input
            type="number"
            class="form-control"
            id="sampleCost"
            name="sampleCost"
            [(ngModel)]="tempSample.cost"
            placeholder="Sample cost"
            title="Enter the sample cost"
            aria-placeholder="Enter the sample cost"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="sampleAssignment">Assigned To</label>
        <app-staff-picker
          id="sampleAssignment"
          title="Assigned to"
          [selectedStaff]="selectedStaff"
          (selected)="changeAssignment($event)"
        ></app-staff-picker>
      </div>
    </div>
  </div>
  <div class="row text-danger" role="alert" *ngIf="hasErrors">
    <div class="col">
      <strong>Errors:</strong>
      <div [innerHTML]="errors"></div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-secondary"
    (click)="activeModal.close()"
    aria-label="Cancel"
    title="Cancel"
    
  >
    <span class="fas fa-ban"></span>&nbsp;Cancel
  </button>
  <button
    type="button"
    class="btn btn-primary"
    (click)="editSample()"
    aria-label="Save sample"
    title="Save sample"
  >
    <span class="fas fa-save"></span>&nbsp;Save
  </button> 
</div>
